<h3 class="text-center">You are in member component</h3>
<div class="container">
    <div class="card">
        <div class="card-body">
        
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Name</th>
            </thead> 
            <tbody>
                 <tr *ngFor="let member of members">
                     <td>{{member.id }}</td>
                     <td>{{member.name }}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div >
</div>