<!-- <h3 class="text-center">You are in app.componenet.html</h3> -->
<!-- <app-member></app-member>--> 

<!--<app-side-navig></app-side-navig> -->


    <header layout = "column">
        <app-header></app-header>
    </header>

    <div layout="row" fxFlex="100">
        <app-side-navig></app-side-navig>
    <div> 
    
    <div class="content" layout="column">
        <section>
           <router-outlet></router-outlet>
        </section>
    </div>
    
    <footer>
        <app-footer></app-footer>
    </footer> 